<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 用户管理 -->
<mapper namespace="userMapper">

    <!--根据用户名和密码查询用户  -->
    <select id="getUserByNameAndPassword" parameterType="map" resultType="map">
        select
        a.user_name,
        a.phone_no,
        a.address
        from sys_user a where a.user_name=#{user_name}
    </select>

    <select id="userCount" parameterType="map" resultType="java.lang.Integer">
        select
        count(1)
        from sys_user

    </select>
</mapper>