<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 用户管理 -->
<mapper namespace="wxmapper">

    <!--根据条件查询已发布的行程(司机) -->
    <select id="getDriverTriplistPage" parameterType="page" resultType="map">
        select
            a.SerialNo,
            a.LinkmanName,
            a.Phone,
            a.StartStation,
            a.StartCityId,
            a.EndCityId,
            a.StartCityName StartCity,
            a.EndCityName EndCity,
            (select c.DicCode from ecs_dic_system c where c.DicValue = a.TripType) tripName,
            a.Destination,
            a.CartBrand,
            a.TripType,
            a.CarNumber,
            a.SeatTotal,
            a.SeatRemain,
            a.Price,
            date_format(a.StartTime,'%Y-%m-%d %H:%i:%s')StartTime,
            a.Remark
        from ecu_trip_driver a
        where
          a.IsEffective= '1'
        <if test="pd.startCity != null and pd.startCity != '' ">
            and a.StartCityName like  CONCAT('%',#{pd.startCity},'%')
        </if>
        <if test="pd.endCity != null and pd.endCity != '' ">
            and a.EndCityName like  CONCAT('%',#{pd.endCity},'%')
        </if>
        <if test="pd.tripType != null and pd.tripType != '' ">
            and a.TripType = #{pd.tripType}
        </if>
        <if test="pd.curTime != null and pd.curTime != '' ">
            and date_format(a.StartTime,'%Y-%m-%d %H:%i:%s') >= #{pd.curTime}
        </if>
        <!--<if test="pd.startStation != null and pd.startStation != '' ">-->
            <!--and a.StartStation=#{pd.startStation}-->
        <!--</if>-->
        <!--<if test="pd.startDate != null and pd.startDate != '' ">-->
            <!--and date_format(a.StartTime,'%Y-%m-%d')=#{pd.startDate}-->
        <!--</if>-->
        order by a.PublishTime desc
    </select>

    <!--根据条件查询已发布的行程(乘客) -->
    <select id="getCustomerTripListByCondition" parameterType="map" resultType="map">
        select
        a.SerialNo,
        a.LinkmanName,
        a.Phone,
        a.StartStation,
        (select c.RegionName from ecs_dic_region c where a.StartCityId = c.RegionId) StartCity,
        (select c.RegionName from ecs_dic_region c where a.EndCityId = c.RegionId) EndCity,
        a.Destination,
        a.StartTime,
        a.Remark
        from ecu_trip_customer a
        where
        a.IsEffective= '1'
        <if test="pd.startCity != null and pd.startCity != '' ">
            and a.StartCityId=#{pd.startCity}
        </if>
        <if test="pd.endCity != null and pd.endCity != '' ">
            and a.EndCityId=#{pd.endCity}
        </if>
        <if test="pd.startStation != null and pd.startStation != '' ">
            and a.StartStation=#{pd.startStation}
        </if>
        <if test="pd.startDate != null and pd.startDate != '' ">
            and date_format(StartTime,'%Y-%m-%d')=#{pd.startDate}
        </if>
        order by a.PublishTime desc
        limit  #{pd.currentPage},#{pd.showCount}
    </select>

    <!--根据流水号查询行程详情-->
    <select id="getTripBySerialNo" parameterType="java.lang.String" resultType="map">
        select
            a.SerialNo,
            a.LinkmanName,
            a.Phone,
            a.StartStation,
            a.StartCityName,
            a.StartCityName,
            a.EndCityName,
            a.Destination,
            (select b.DicValue from ecs_dic_system b where a.CartBrandId = b.DicId) CartBrand,
            a.CarNumber,
            a.SeatTotal,
            a.SeatRemain,
            a.Price,
            a.StartTime,
            a.Remark,
            b.Nickname,
            b.Headim
        from ecu_trip_driver a.LinkmanId = e.userId
        left join ecu_user e on a.
        where a.SerialNo=#{serialNo}

    </select>

    <!--保存行程信息-->
    <insert id="insertTrip" parameterType="map">
        insert into
        ecu_trip_driver
            (
            SerialNo,
            LinkmanName,
            LinkmanId,
            Phone,
            StartCityId,
            StartStation,
            StartCityName,
            EndCityName,
            EndCityId,
            Destination,
            Byway,
            CartBrand,
            SeatTotal,
            Price,
            StartTime,
            Remark,
            SeatRemain,
            tripType,
            PublishTime
            )
            values
            (
            #{SerialNo},
            #{LinkmanName},
            #{userId},
            #{Phone},
            #{StartCityId},
            #{StartStation},
            #{StartCityName},
            #{EndCityName},
            #{EndCityId},
            #{Destination},
            #{Byway},
            #{CartBrand},
            #{SeatTotal},
            #{Price},
            #{StartTime},
            #{Remark},
            #{SeatTotal},
            #{tripType},
            now()
            )
    </insert>
    <!--根据openid查询用户-->
    <select id="findUserByOpenid" parameterType="string" resultType="map">
        select
        userId,
        Nickname,
        Headimgurl,
        Phone
        from ecu_user
        where Openid=#{openid}
    </select>
</mapper>