<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 用户管理 -->
<mapper namespace="wxmapper">

    <!--根据条件查询已发布的行程(司机) -->
    <select id="getDriverTriplistPage" parameterType="page" resultType="map">
        select
            a.SerialNo,
            a.LinkmanName,
            a.Phone,
            a.StartStation,
            a.StartCityId,
            a.EndCityId,
            a.StartCityName StartCity,
            a.EndCityName EndCity,
            (select c.DicCode from ecs_dic_system c where c.DicValue = a.TripType) tripName,
            a.Destination,
            a.CartBrand,
            a.TripType,
            a.CarNumber,
            a.SeatTotal,
            a.SeatRemain,
            a.Price,
            date_format(a.StartTime,'%Y-%m-%d %H:%i:%s')StartTime,
            a.Remark
        from ecu_trip_driver a
        where
          a.IsEffective= '1'
        <if test="pd.startCity != null and pd.startCity != '' ">
            and a.StartCityName like  CONCAT('%',#{pd.startCity},'%')
        </if>
        <if test="pd.endCity != null and pd.endCity != '' ">
            and a.EndCityName like  CONCAT('%',#{pd.endCity},'%')
        </if>
        <if test="pd.tripType != null and pd.tripType != '' ">
            and a.TripType = #{pd.tripType}
        </if>
        <if test="pd.curTime != null and pd.curTime != '' ">
            and date_format(a.StartTime,'%Y-%m-%d %H:%i:%s') >= #{pd.curTime}
        </if>
        <if test="pd.searchPar != null and pd.searchPar != '' ">
            and ((a.Phone like concat('%',#{pd.searchPar},'%')) or (a.LinkmanName like concat('%',#{pd.searchPar},'%'))
                or (a.StartCityName like concat('%',#{pd.searchPar},'%')) or (a.EndCityName like concat('%',#{pd.searchPar},'%'))
                or (a.StartStation like concat('%',#{pd.searchPar},'%')) or (a.Destination like concat('%',#{pd.searchPar},'%'))
                or (a.Price like concat('%',#{pd.searchPar},'%')) or (a.Remark like concat('%',#{pd.searchPar},'%')) )
        </if>
        <!--<if test="pd.startStation != null and pd.startStation != '' ">-->
            <!--and a.StartStation=#{pd.startStation}-->
        <!--</if>-->
        <!--<if test="pd.startDate != null and pd.startDate != '' ">-->
            <!--and date_format(a.StartTime,'%Y-%m-%d')=#{pd.startDate}-->
        <!--</if>-->
        order by a.PublishTime desc
    </select>

    <!--根据条件查询已发布的行程(乘客) -->
    <select id="getCustomerTripListByCondition" parameterType="map" resultType="map">
        select
        a.SerialNo,
        a.LinkmanName,
        a.Phone,
        a.StartStation,
        (select c.RegionName from ecs_dic_region c where a.StartCityId = c.RegionId) StartCity,
        (select c.RegionName from ecs_dic_region c where a.EndCityId = c.RegionId) EndCity,
        a.Destination,
        a.StartTime,
        a.Remark
        from ecu_trip_customer a
        where
        a.IsEffective= '1'
        <if test="pd.startCity != null and pd.startCity != '' ">
            and a.StartCityId=#{pd.startCity}
        </if>
        <if test="pd.endCity != null and pd.endCity != '' ">
            and a.EndCityId=#{pd.endCity}
        </if>
        <if test="pd.startStation != null and pd.startStation != '' ">
            and a.StartStation=#{pd.startStation}
        </if>
        <if test="pd.startDate != null and pd.startDate != '' ">
            and date_format(StartTime,'%Y-%m-%d')=#{pd.startDate}
        </if>
        order by a.PublishTime desc
        limit  #{pd.currentPage},#{pd.showCount}
    </select>

    <!--根据流水号查询行程详情-->
    <select id="getTripBySerialNo" parameterType="java.lang.String" resultType="map">
        select
            a.LinkmanName,
            a.Phone,
            a.StartStation,
            a.StartCityId,
            a.EndCityId,
            a.StartCityName StartCity,
            a.EndCityName EndCity,
            (select c.DicCode from ecs_dic_system c where c.DicValue = a.TripType) tripName,
            a.Destination,
            a.CartBrand,
            a.TripType,
            a.CarNumber,
            a.SeatTotal,
            a.SeatRemain,
            a.Price,
            e.Nickname,
            e.Headimgurl,
            e.Sex,
            date_format(a.StartTime,'%Y-%m-%d %H:%i:%s')StartTime,
            a.Remark
        from ecu_trip_driver a
        left join ecu_user e on a.LinkmanId = e.userId
        where a.SerialNo=#{serialNo}

    </select>

    <!--保存行程信息-->
    <insert id="insertTrip" parameterType="map">
        insert into
        ecu_trip_driver
            (
            SerialNo,
            LinkmanName,
            LinkmanId,
            Phone,
            StartCityId,
            StartStation,
            StartCityName,
            EndCityName,
            EndCityId,
            Destination,
            Byway,
            CartBrand,
            SeatTotal,
            Price,
            StartTime,
            Remark,
            SeatRemain,
            tripType,
            PublishTime
            )
            values
            (
            #{SerialNo},
            #{LinkmanName},
            #{UserId},
            #{Phone},
            #{StartCityId},
            #{StartStation},
            #{StartCityName},
            #{EndCityName},
            #{EndCityId},
            #{Destination},
            #{Byway},
            #{CartBrand},
            #{SeatTotal},
            #{Price},
            #{StartTime},
            #{Remark},
            #{SeatTotal},
            #{TripType},
            now()
            )
    </insert>
    <!--根据unionId或者userId或unionid查询用户-->
    <select id="findUserByOpenid" parameterType="map" resultType="map">
        select
        userId,
        ifnull(Openid,'') openid,
        ifnull(unionId,'') unionid,
        ifnull(Nickname,'') nickName,
        Sex gender,
        Headimgurl avatarUrl,
        CityId city,
        ProvinceId province,
        CountryId country
        from ecu_user
        where 1=1
        <if test="unionid != null and unionid != '' ">
            and unionId=#{unionid}
        </if>
        <if test="userId != null and userId != '' ">
            and userId=#{userId}
        </if>
        <if test="openid != null and openid != '' ">
            and Openid=#{openid}
        </if>
    </select>
    <!--插入用户信息-->
    <insert id="saveUserInfo" parameterType="map">
        insert into ecu_user
        (
          userId,
          Openid,
          Nickname,
          Sex,
          Headimgurl,
          CityId,
          ProvinceId,
          CountryId,
          unionId,
          RegistTime
        )values(
          #{userId},
          #{openId},
          #{nickName},
          #{gender},
          #{avatarUrl},
          #{city},
          #{province},
          #{country},
          #{unionid},
          now()
        )
    </insert>
    <!--更新微信用户信息-->
    <update id="updateUserInfo" parameterType="map">
        update ecu_user
        set Nickname=#{nickname},Sex=#{gender},Headimgurl=#{avatarUrl},CityId=#{city},ProvinceId=#{province}
        where Openid=#{openid}
    </update>

    <!--查询行程记录是否存在，防止重复发布-->
    <select id="trivalExist" parameterType="map" resultType="map">
        select
        a.SerialNo
        from
        ecu_trip_driver a
        where a.IsEffective='1' and a.LinkmanId = #{UserId} and a.Phone=#{Phone}
        and date_format(a.StartTime,'%Y-%m-%d %H')=date_format(#{StartTime},'%Y-%m-%d %H')
    </select>

    <!--查询当前用户发布行程的数量-->
    <select id="findCountToday" parameterType="map" resultType="map">
        select
        a.SerialNo
        from
        ecu_trip_driver a
        where a.IsEffective='1' and a.LinkmanId = #{UserId}
        and date_format(a.PublishTime,'%Y-%m-%d')=date_format(now(),'%Y-%m-%d')
    </select>

    <!--根据手机号或用户id查询用户在黑名单中的记录（手机号和用户id可能搜到多条）-->
    <select id="isBlackList" parameterType="map" resultType="map">
        select
        a.UserId,a.Phone
        from
        ecu_blacklist a
        where a.UserId = #{UserId}
        <if test="Phone != null and Phone != ''">
            or a.Phone = #{Phone}
        </if>
    </select>

    <!--保存用户加入行程的操作-->
    <insert id="saveJoinTrip" parameterType="map">
        insert into
        ecu_mid_trip_user
        (
            TripSerialNo,
            UserId,
            RegDate
        )values(
            #{SerialNo},
            #{UserId},
            now();
        )
    </insert>

    <!--根据行程逐渐更新剩余座位数-1 取消行程时 +1 -->
    <update id="updateTripSeat" parameterType="map">
        update
        ecu_trip_driver a
        set
        <if test="joinType != null and joinType == '1'">
            a.SeatRemain = a.SeatRemain-1
        </if>
        <if test="joinType != null and joinType == '2'">
            a.SeatRemain = a.SeatRemain+1
        </if>
        where a.SerialNo = #{SerialNo}
    </update>

    <!--根据用户id查询加入过的行程 -->
    <select id="getUserTriplistPage" parameterType="page" resultType="map">
        select
        a.SerialNo,
        a.LinkmanName,
        a.Phone,
        a.StartStation,
        a.StartCityId,
        a.EndCityId,
        a.StartCityName StartCity,
        a.EndCityName EndCity,
        (select c.DicCode from ecs_dic_system c where c.DicValue = a.TripType) tripName,
        a.Destination,
        a.CartBrand,
        a.TripType,
        a.CarNumber,
        a.SeatTotal,
        a.SeatRemain,
        a.Price,
        date_format(a.StartTime,'%Y-%m-%d %H:%i:%s')StartTime,
        a.Remark
        from ecu_trip_driver a
        where
        a.IsEffective= '1'
        and a.SerialNo in (select b.TripSerialNo from ecu_mid_trip_user b where b.IsEffective = '1' and b.UserId=#{UserId})
        <if test="pd.StartTime != null and pd.StartTime != ''">
            and date_format(a.StartTime,'%Y-%m-%d')=date_format(#{pd.StartTime},'%Y-%m-%d')
        </if>
        order by a.StartTime desc
    </select>

    <!--更新行程为有效或无效-->
    <update id="updateJoinTrip" parameterType="map">
        update
        ecu_mid_trip_user
        set IsEffective = #{IsEffective}
        where TripSerialNo=#{SerialNo} and UserId=#{UserId}
    </update>

    <!--查询是否加入过此行程-->
    <select id="isExists" parameterType="map" resultType="map">
        select
        a.*
        from
        ecu_mid_trip_user a
        where a.TripSerialNo=#{SerialNo} and a.UserId=#{UserId}
    </select>
</mapper>